#IndexJobBox {
  flex: 1;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  line-height: 32px;
  position: relative;
  .timeBox {
    display: inline-block;
    border-left: 1px solid #ccc;
    .timeItem {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      background: #eee;
      display: inline-block;
      cursor: pointer;
      position: relative;
      text-align: center;
      width: 42px;
    }
    .timeBlank {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding-left: 6px;
      padding-right: 6px;
      background: #f8f8f8;
      display: inline-block;
    }
  }
  .repeatBtn {
    width: 120px;
    margin-top: 6px;
    margin-bottom: 3px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    &:hover {
      background: #dfdfdf;
    }
  }
  .selectOption {
    position: absolute;
    width: 320px;
    height: 150px;
    left: 18px;
    top: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0px 0px 6px #ddd;
    overflow: hidden;
    // display: none;
    display: flex;
    z-index: 2;
    &:focus {
      outline: none;
    }
  }
  .selectColumn {
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: #666;
    background: #eee;
    border-left: 1px dotted #ccc;
    &:hover {
      background: #e2e6e8;
    }
    &:first-child {
      flex: 1.3 !important;
      border-left: none !important;
    }
    div {
      height: 30px;
      line-height: 30px;
      color: #333;
      text-align: center;
      cursor: pointer;
    }
  }
  .selectCell {
    background: #fff;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }
  .selectColumnSpan {
    flex: 0.5 !important;
    &:hover {
      background: #eee !important;
    }
  }
  textarea {
    resize: none;
    display: block;
    line-height: 22px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
  }
  .textareaBox {
    margin-top: 6px;
    flex: 1;
  }
}
