.red {
  --fore: #f02c38;
  --bg: #fcdde0;
  --fore-lighter0: #f02c38bb;
  --fore-lighter1: #f02c3877;
  --fore-lighter2: #f02c3811;
  --fore-lighter3: #f02c3833;
}

.blue {
  --fore: #1677ff;
  --bg: #e6f4ff;
  --fore-lighter0: #1677ffbb;
  --fore-lighter1: #1677ff77;
  --fore-lighter2: #1677ff11;
  --fore-lighter3: #1677ff33;
}

.green {
  --fore: #389e0d;
  --bg: #f6ffed;
  --fore-lighter0: #389e0dbb;
  --fore-lighter1: #389e0d77;
  --fore-lighter2: #389e0d11;
  --fore-lighter3: #389e0d33;
}

.purple {
  --fore: #722ed1;
  --bg: #f9f0ff;
  --fore-lighter0: #722ed1bb;
  --fore-lighter1: #722ed177;
  --fore-lighter2: #722ed111;
  --fore-lighter3: #722ed133;
}

.yellow {
  --fore: #d48806;
  --bg: #fff1b8;
  --fore-lighter0: #d48806bb;
  --fore-lighter1: #d4880677;
  --fore-lighter2: #d4880611;
  --fore-lighter3: #d4880633;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
  overflow: hidden;
  font-size: 12px;
}
div {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
