@import url("./IndexSubWin.scss");
input,
textarea {
  outline: none;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
