html,body{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow: hidden;
    font-size: 12px;
}
div{
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f6f6f6; 
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}