#IndexJobBox {
  flex: 1;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  line-height: 32px;
  position: relative;
  .timeBox {
    display: inline-block;
    border-left: 1px solid #ccc;
    .timeItem {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      background: #eee;
      display: inline-block;
      cursor: pointer;
      position: relative;
      text-align: center;
      width: 42px;
    }
    .timeBlank {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding-left: 6px;
      padding-right: 6px;
      background: #f8f8f8;
      display: inline-block;
    }
  }
  .repeatBtn {
    width: 120px;
    margin-top: 6px;
    margin-bottom: 3px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    &:hover {
      background: #dfdfdf;
    }
  }
  #selectOption {
    position: absolute;
    width: 160px;
    left: 18px;
    top: 38px;
    border: 1px solid #aaa;
    border-bottom: none;
    box-shadow: 0px 0px 6px #ddd;
    overflow: hidden;
    display: none;
    z-index: 2;
    background: #eee;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    div {
      padding-left: 8px;
      border-bottom: 1px solid #aaa;
      &:hover {
        background: #fefefe;
      }
    }
  }
  .selectColumnSpan {
    flex: 0.5 !important;
    &:hover {
      background: #eee !important;
    }
  }
  textarea {
    resize: none;
    display: block;
    line-height: 22px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
  }
  .textareaBox {
    margin-top: 6px;
    flex: 1;
  }
}
