.Job{
    position: absolute !important;
    left: 60px;
    right: 30px;
    top: 20%;
    bottom: 30%;
    .dragger{
        position: absolute;
        height: 6px;
        left: 0px;
        right: 0px;
        cursor:ns-resize;
    }
    .draggerTop{        
        top: -3px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .draggerBottom{
        bottom: -3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}