.Job{
    position: absolute !important;
    text-align: center;
    overflow: hidden;
    padding-top: 6px;
    .dragger{
        position: absolute;
        height: 6px;
        left: 0px;
        right: 0px;
        cursor:ns-resize;
        z-index: 2;
    }
    .draggerTop{        
        top: -3px;
    }
    .draggerBottom{
        bottom: -3px;
    }
}