#LeftPanel {
  width: 300px;
  background: var(--fore-lighter2);
  height: 100%;
  display: flex;
  flex-direction: column;
  & > .title {
    height: 32px;
    line-height: 32px;
    padding-left: 8px;
    display: flex;
    color: #333;
    -webkit-app-region: drag;
    .icon {
      color: var(--fore);
    }
    .label {
      padding-left: 3px;
      font-size: 14px;
    }
  }
}
