#RecentJob {
  line-height: 28px;
  color: #666;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  left: 12px;
  right: 0px;
  margin-top: 6px;
  padding-right: 12px;
  padding-left: 12px;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    position: absolute;
    background: #f02c3844;
  }
  .item {
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    &:last-child {
      margin-bottom: 6px;
    }
    .title {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 28px;
    }
    .time {
      height: 28px;
      width: 68px;
      text-align: right;
    }
    &:hover {
      background: #f02c3822;
      color: #333 !important;
    }
  }
}
