#RecentJob {
  padding-top: 22px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  #searchBox {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 28px;
    input {
      flex: 1;
      display: block;
      margin: 0px;
      padding: 0px;
      border: none;
      outline: none;
      height: 28px;
      padding-left: 6px;
      padding-right: 6px;
      color: #f02c38;
      background: #f02c3811;
      font-size: 12px;
      &:focus {
        background: #fff;
      }
    }
    .searchBtn {
      width: 32px;
      height: 28px;
      text-align: center;
      cursor: pointer;
      background: #f02c3811;
      i {
        font-size: 14px;
        color: #f02c38;
      }
      &:hover {
        background: #f02c3844 !important;
      }
    }
  }
  #recentJobBox {
    line-height: 28px;
    color: #666;
    position: absolute;
    top: 56px;
    bottom: 6px;
    overflow: hidden;
    overflow-y: auto;
    left: 12px;
    right: 0px;
    padding-right: 12px;
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: transparent !important;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      position: absolute;
      right: -6px;
      background: #f02c3844;
    }
    .item {
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      padding-left: 8px;
      padding-right: 8px;
      .title {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 28px;
      }
      .time {
        height: 28px;
        width: 68px;
        text-align: right;
      }
      &:hover {
        background: #f02c3822;
        color: #333 !important;
      }
    }
  }
}
