#SearchBox {
  padding-top: 28px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 28px;
  input {
    flex: 1;
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--fore);
    background: var(--fore-lighter3);
    font-size: 12px;
    border: 1px solid var(--fore-lighter3);
    border-right: none;
    &:focus {
      background: #fff;
    }
    &::placeholder {
      color: var(--fore-lighter0);
    }
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .searchBtn {
    width: 32px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    background: var(--fore-lighter3);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid var(--fore-lighter3);
    border-left: none;
    i {
      font-size: 14px;
      color: var(--fore);
    }
    &:hover {
      background: var(--fore-lighter1) !important;
    }
  }
}
#SearchResult {
  line-height: 28px;
  color: #666;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 6px;
  padding-right: 12px;
  padding-left: 12px;
  display: none;
}
