#SmallCalendar{
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    .row{
        display: flex;
        width: 100%;
        height: 28px;
        line-height: 28px;
        div{
            color: #666;
            flex: 1;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            border-radius: 3px;
            &:hover{
                background: #f02c38;
                color: #fff !important;
            }
        }
    }
    .header{
        height: 32px;
        line-height: 32px;
        div{
            color: #aaa;
        }
    }
    .notCurMonth{
        color: #aaa !important;
    }
    .selected{
        background: #f02c38 !important;
        color: #fff !important;
    }
}