#ViewWeek{    
    .column{
        flex: 1;
        border-right: 1px solid #eee;
        height: 100%;
        &:last-child{
            border-right: none !important;
        }
    }
    .weekHeader{
        height: 28px;
        line-height: 28px;
        display: flex;
        border-bottom: 1px solid #eee;
        color: #888;
        div{
            text-align: center;
        }
    }
    .weekContent{
        flex: 1;
        display: flex;
    }
}