#ViewMonth{
    .row{
        display: flex;
        width: 100%;
        &>div{
            flex: 1;
            font-size: 12px;
        }
    }
    .header{
        height: 28px;
        line-height: 28px;
        background: #f8f8f8;
        color: #888;
        text-align: center;
    }
    .content{
        flex: 1;
        flex-direction: column;
        display: flex;
        .row{
            flex: 1;
            border-top: 1px solid #888;
            overflow: hidden;
            &>div{
                border-right: 1px solid #e6e6e6;
                &:last-child{
                    border-right: none !important;
                }
            }
            .cellHeader{
                color: #666;
                height: 26px;
                line-height: 26px;
                background: #f3f3f3;
                text-align: center;
            }
            .cellItem{
                line-height: 22px;
                height: 22px;
                padding-left: 4px;
                padding-right: 4px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background: #fde9eb;
                }
            }
            .notCurMonth{
                .cellHeader{
                    color: #ccc !important;
                    background: #f8f8f8 !important;
                }
                .cellItem{
                    color: #bbb !important;
                    &:hover{
                        color: #333 !important;
                    }
                }
            }
        }
    }
}