#ViewDay{
    flex: 1;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &>div{
        flex: 1;
        border-bottom: 1px solid #efefef;
        position:relative;
        .hourTag{
            position: absolute;
            text-align: center;
            left: 0px;
            top: 0px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 10px;
            background: #00000011;
            width: 36px;
            border-bottom-right-radius: 6px;
            color: #666;
        }
    }
    .color0{
        &:hover{
            background: rgba(3, 155, 229,0.1);
        }
    }
    .color1{
        &:hover{
            background: rgba(106,0,255,0.1);
        }
    }
    .color2{
        &:hover{
            background: rgba(96, 169, 23,0.1);
        }
    }
    .color3{
        &:hover{
            background: rgba(87, 101, 206,0.1);
        }
    }
    .color4{
        &:hover{
            background: rgba(216,0,115,0.1);
        }
    }
    .color5{
        &:hover{
            background: rgba(216,144,0,0.1);
        }
    }
}