@import url("./Index.scss");
body {
  flex-direction: column;
}
.titleBar {
  display: flex;
  height: 32px;
  line-height: 32px;
  background: rgba(var(--color), 0.1);
  .title {
    padding-left: 8px;
    flex: 1;
  }
}
.btnBox {
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
  padding-bottom: 18px;
  .btnSave {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    margin-left: 12px;
    background: rgba(var(--color), 0.9);
    &:hover {
      background: rgba(var(--color), 1);
    }
  }
}
